<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Rafa Bank</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>Lista de Contas</h1>
	
	<a th:href = "@{/showNewAccountForm}" class="btn btn-primary btn-sm mb-3"> Cadastrar Contas </a>
	
		<br />
		<br />
		<form action="findAccount" method="post">
		<label>Pesquise por Nome/Agência:</label>
						<input type="text"  name="nomePesquisa">
			<button type="submit" class="btn btn-info col-2"> Pesquisar</button>
		
		</form>
		<br />
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
							Nome</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=branch&sortDir=' + ${reverseSortDir}}">
							Agência</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=numberAccount&sortDir=' + ${reverseSortDir}}">
							Número Conta</a>
					</th>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=overdraft&sortDir=' + ${reverseSortDir}}">
							Cheque Especial</a>
					</th>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=releasedOverdraft&sortDir=' + ${reverseSortDir}}">
							Cheque Especial Liberado S/N</a>
					</th>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=balance&sortDir=' + ${reverseSortDir}}">
							Saldo</a>
					</th>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=rate&sortDir=' + ${reverseSortDir}}">
							Taxa</a>
					</th>
					<th> Ações </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account : ${listAccount}">
					<td th:text="${account.name}"></td>
					<td th:text="${account.branch}"></td>
					<td th:text="${account.numberAccount}"></td>
					<td th:text="${account.overdraft}"></td>
					<td th:text="${account.releasedOverdraft}"></td>
					<td th:text="${account.balance}"></td>
					<td th:text="${account.rate}"></td>
					<td> <a th:href="@{/showFormForUpdate/{codigo}(codigo=${account.codigo})}" class="btn btn-primary">Editar</a>
					    <a th:href="@{/deleteAccount/{codigo}(codigo=${account.codigo})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
</body>
</html>